{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>

<div class="container">
    <form action="#" method="POST">
        Username: <input type="text" name="username">
        Email: <input type="email" name="email">
        Password: <input type="password" name="password">
        <input type="submit" name="insertUser" value="Add User">
    </form>

</div>
