{% trans_default_domain 'FOSUserBundle' %}

<div class="card" style="width: 30%; margin: 15px auto;">
    <h5 class="card-header text-center py-4" style="background-color: #c8a2c8; color: white;">
        <strong>Register</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
{#        <input type="submit" value="{{ 'registration.submit'|trans }}" />#}
        <button class="btn btn-rounded btn-block my-4 waves-effect z-depth-0 buton_signnup" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}">
            SIGN UP
        </button>
    </div>
    </div>
{{ form_end(form) }}
</div>