<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/mystyle.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My PHP Project - Companies</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Lista companiilor </h1>
        <p class="lead">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.users) }}
            {{ form_row(form.companies) }}

            <button type="submit">Submit</button>
            {{ form_end(form) }}


        </p>
    </div>


    {% block body %}{% endblock %}

</div><!-- container -->

{% block javascripts %}{% endblock %}
</body>
</html>