{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<!-- Material form login -->
<div class="card" style="width: 30%; margin: 15px auto;">

    <h5 class="card-header text-center py-4" style="background-color: rgb(23, 162, 184); color: white;">
        <strong>Sign in</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <!-- Username -->
            <div class="md-form mt-4">
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="username">
                <label for="username">{{ 'Username'|trans }}</label>
            </div>

            <!-- Password -->
            <div class="md-form">
                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control">
                <label for="password">{{ 'Password'|trans }}</label>
            </div>

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on">
                        <label for="remember_me">{{ 'Remember me'|trans }}</label>
                    </div>
                </div>

            </div>

            <!-- Sign in button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Sign in</button>

            <!-- Register -->
            <p>Not a member?
                <a href="">Register</a>
            </p>

            <!-- Social login -->
            <p>or sign in with:</p>
            <a type="button" class="btn-floating btn-fb btn-sm">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
                <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
                <i class="fab fa-github"></i>
            </a>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form login -->